body {
    padding: 5px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.inputContainer {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 990px;
    margin: 15px auto 15px auto;
}

.exerciseList {
    margin: 0;
    padding: 0 0 0 20px;
}

.em15 {
    font-size: 1.5em;
}

.exerciseList li {
    margin: 10px 0px 5px 0px;
}

.exerciseList li ul {
    list-style-type: none;
    padding-left: 0;
}

input,
button,
select {
    font-size: 1.1em;
}

.durationInput {
    width: 50px;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

select {
    padding: 1px 2px 2px 2px;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    text-align: center;
}

.formContainer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.formContainer > li > label,
.formContainer li p {
    flex: 1 0 150px;
    max-width: 100px;
}
