body {
    margin: 5px;

    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}
